<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-sm-12">
        <h1 class="text-center">Sign Up</h1>
        <p class="text-center">
          <a [routerLink]="['/login']">Have an account?</a>
        </p>
        Backend Errors
        <form>
          <div class="mb-3">
            <input class="form-control form-control-lg" placeholder="User Name" type="text">
          </div>
          <div class="mb-3">
            <input class="form-control form-control-lg" placeholder="Email" type="email">
          </div>
          <div class="mb-3">
            <input class="form-control form-control-lg" placeholder="Password" type="password">
          </div>
          <button class="btn btn-lg btn-primary">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>
