<md-loading *ngIf="isLoading$ | async"></md-loading>
<md-error-message *ngIf="error$ | async" [message]="error$ | async"></md-error-message>

<div *ngIf="feedData$ | async">
  <div *ngFor="let article of(feedData$ | async)?.articles" class="article-preview">
    <div class="article-meta">
      <a [routerLink]="['/profiles', article.author.username]">
        <img *ngIf="article.author.image" [ngSrc]="article.author.image" alt="User" height="25" width="25">
        <span>🙂‍</span>
      </a>
      <div class="info">
        <a [routerLink]="['/profiles', article.author.username]">
          {{ article.author.username }}
        </a>
        <span class="date">{{article.createdAt}}</span>
      </div>
      <div class="float-end">Add To Favourites</div>
    </div>
    <a [routerLink]="['/articles', article.slug]" class="preview-link">
      <h1>{{ article.title }}</h1>
      <p>{{ article.description }}</p>
      LIST OF TAGS
    </a>
  </div>
  PAGINATION
</div>
